name: docker

on:
  workflow_call:
    inputs:
      image-name:
        description: "Name of the docker image"
        required: true
        type: string
      dockerfile-path:
        description: "Path to Docker file that building"
        required: true
        type: string
      version-number:
        description: "Build version number"
        required: true
        type: string
    secrets:
      ACR_USERNAME:
        required: true
      ACR_PASSWORD:
        required: true
      FEED_ACCESSTOKEN:
        required: true

jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: conregavanidevaueast.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ inputs.dockerfile-path }}
          build-args: |
            FEED_ACCESSTOKEN=${{ secrets.FEED_ACCESSTOKEN }}
          push: true
          tags: |
            conregavanidevaueast.azurecr.io/${{ inputs.image-name }}:${{ inputs.version-number }}
            conregavanidevaueast.azurecr.io/${{ inputs.image-name }}:latest
