name: docker

on:
  workflow_call:
    inputs:
      image-name:
        description: "Name of the docker image"
        required: true
        type: string
      dockerfile-path:
        description: "Path to Dockerfile that building"
        required: true
        type: string
      version-number:
        description: "Build version number"
        required: true
        type: string
      docker-registry-uri:
        description: "URI of the docker registry to push the image to"
        required: false
        type: string
        default: 'conregavanidevaueast.azurecr.io'
    secrets:
      ACR_USERNAME:
        required: true
      ACR_PASSWORD:
        required: true
      FEED_ACCESSTOKEN:
        required: false
      NEXT_PUBLIC_MUI_KEY:
        required: false

jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ inputs.docker-registry-uri }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker images
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ inputs.dockerfile-path }}
          build-args: |
            FEED_ACCESSTOKEN=${{ secrets.FEED_ACCESSTOKEN }}
            NEXT_PUBLIC_MUI_KEY=${{ secrets.NEXT_PUBLIC_MUI_KEY }}
          push: true
          tags: |
            ${{ inputs.docker-registry-uri }}/${{ inputs.image-name }}:${{ inputs.version-number }}
            ${{ inputs.docker-registry-uri }}/${{ inputs.image-name }}:latest
