name: release
# Build a single docker image and push infrastructure artiface to octopus
# NOTE: if doing multiple docket images, then will need to use individual "_" workflow templates in actual repo

on:
  workflow_call:
    inputs:
      image-name:
        description: "Name of the docker image"
        required: true
        type: string
      infrastructure-prefix:
        description: "Prefix of the octopus infrastructure package"
        required: true
        type: string
      dockerfile-path:
        description: "Path to Docker file that building"
        required: true
        type: string
      git-version-path:
        description: "Path to GitVersionConfig.yml"
        required: false
        type: string
        default: './GitVersionConfig.yml'
    secrets:
      ACR_USERNAME:
        required: true
      ACR_PASSWORD:
        required: true
      FEED_ACCESSTOKEN:
        required: true
      OCTOPUS_URL:
        required: true
      OCTOPUS_API_KEY:
        required: true

jobs:
  version-info:
    uses: ./.github/workflows/_version-info.yml
    with:
      git-version-path: ${{ inputs.git-version-path }}

  version:
    needs: version-info
    runs-on: ubuntu-latest
    steps:
      - name: Version
        run: echo "${{ needs.version-info.outputs.version-number }}"

  # build-docker:
  #   needs: version-info
  #   uses: ./.github/workflows/_docker-image.yml
  #   with:
  #     image-name: ${{ inputs.image-name }}
  #     dockerfile-path: ${{ inputs.dockerfile-path }}
  #     version-number: ${{ needs.version-info.outputs.version-number }}
  #   secrets: inherit

  # package-infrastructure:
  #   needs: version-info
  #   uses: ./.github/workflows/_octopus-artifact.yml
  #   with:
  #     infrastructure-prefix: ${{ inputs.infrastructure-prefix }}
  #     version-number: ${{ needs.version-info.outputs.version-number }}
  #   secrets: inherit
